{% extends 'base.html' %}

{% block title %}{{ predicted_class }}{% endblock %}

{% block content %}
    <h1>{{ predicted_class }}</h1>
    <div class="plant-description">

        <h3>Другие названия</h3>
        <p>Также известна как красавка или бешеная вишня.</p>
    
        <h3>Распространение</h3>
        <p>Белладонна встречается в различных регионах, обычно в лесах и на полях.</p>
    
        <h3>Внешний вид растения и ягод</h3>
        <p>Белладонна представляет собой травянистое растение с блестящими, сплюснутой формы желтыми или иссиня-черными ягодами. Имеет длинный стебель до 90 см в длину и крупные листья.</p>
    
        <h3>Ягоды и их ядовитость</h3>
        <p>Ягоды белладонны содержат высокую концентрацию алкалоидов, делая их очень ядовитыми. Употребление может вызвать серьезные отравления, такие как сухость во рту, учащенное сердцебиение, расширение зрачков, потерю сознания, повышение температуры, посинение слизистых оболочек и, в крайних случаях, смертельный исход.</p>
    
        <h3>Опасность для детей</h3>
        <p>Ягоды белладонны особенно опасны для детей, и даже небольшое количество может иметь тяжелые последствия. В случае случайного отравления следует срочно обратиться за медицинской помощью.</p>
    
        <h3>Медицинское применение</h3>
        <p>Белладонну использовали в медицинских целях в прошлом, однако из-за ее высокой токсичности и непредсказуемости действия она не рекомендуется для самолечения.</p>
    </div>

    <h2>{{ predicted_class }}</h2>
    <div class="image-examples">
        <img src="{{ url_for('static', filename='example_images/belladonna/1.jpg') }}" alt="Example 1">
        <img src="{{ url_for('static', filename='example_images/belladonna/2.webp') }}" alt="Example 2">
        <img src="{{ url_for('static', filename='example_images/belladonna/3.jpg') }}" alt="Example 3">
        <img src="{{ url_for('static', filename='example_images/belladonna/4.jpg') }}" alt="Example 4">
        <img src="{{ url_for('static', filename='example_images/belladonna/5.jpg') }}" alt="Example 5">
        <img src="{{ url_for('static', filename='example_images/belladonna/6.jpg') }}" alt="Example 6">
        
    </div>
{% endblock %}
