{% extends 'base.html' %}

{% block title %}{{ predicted_class }}{% endblock %}

{% block content %}
    <h1>{{ predicted_class }}</h1>
    <div class="plant-description">

        <h3>Описание</h3>
        <p>Бересклет - вечнозеленый кустарник, обладающий гладкими листьями, которые сохраняют свой зеленый цвет круглый год.</p>
    
        <h3>Цветение</h3>
        <p>В период цветения бересклет вырабатывает бледные зеленоватые или буроватые мелкие цветки. Цветки собраны в соцветия по 4-5 штук, что создает нежный и едва уловимый аромат.</p>
    
        <h3>Плоды</h3>
        <p>После цветения формируются ядовитые ягоды. Они представляют собой красноватые сухие коробочки грушевидной формы, содержащие семена. Отметим, что употребление этих ягод может быть опасным для здоровья.</p>
    
        <h3>Токсичность и меры предосторожности</h3>
        <p>Ягоды бересклета ядовиты, поэтому важно избегать их употребления. При сборе или обработке растения рекомендуется использовать защитные средства, так как контакт с соком и ягодами может вызвать раздражение и другие негативные реакции.</p>
    
        <h3>Применение в ландшафтном дизайне</h3>
        <p>Бересклет часто используется в ландшафтном дизайне благодаря своей декоративности и способности сохранять зеленый листопад. Однако, из-за токсичности, следует выбирать местоположение так, чтобы оно было недоступно для детей и домашних животных.</p>
    </div>

    <h2>{{ predicted_class }}</h2>
    <div class="image-examples">
        <img src="{{ url_for('static', filename='example_images/beresklet/1.jpg') }}" alt="Example 1">
        <img src="{{ url_for('static', filename='example_images/beresklet/2.jpg') }}" alt="Example 2">
        <img src="{{ url_for('static', filename='example_images/beresklet/3.jpg') }}" alt="Example 3">
        <img src="{{ url_for('static', filename='example_images/beresklet/4.jpg') }}" alt="Example 4">
        <img src="{{ url_for('static', filename='example_images/beresklet/5.jpg') }}" alt="Example 5">
        <img src="{{ url_for('static', filename='example_images/beresklet/6.png') }}" alt="Example 6">
    </div>
{% endblock %}
