{% extends 'base.html' %}

{% block title %}{{ predicted_class }}{% endblock %}

{% block content %}
    <h1>{{ predicted_class }}</h1>
    <div class="plant-description">

        <h2>Бирючина обыкновенная (волчья ягода)</h2>
    
        <h3>Другие названия</h3>
        <p>Также известна как волчья ягода.</p>
    
        <h3>Описание</h3>
        <p>Бирючина обыкновенная – это лиственное дерево или кустарник, достигающий высоты до 5 метров. Он характеризуется густой листвой и мелкими цветками.</p>
    
        <h3>Плоды</h3>
        <p>Плоды бирючины обыкновенной представляют собой черные плоды округлой формы. Они могут иметь диаметр около 1 см и обычно собраны в соцветия.</p>
    
        <h3>Токсичность и содержание соланина</h3>
        <p>В ягодах содержится вещество соланин, которое обладает сильным отравляющим действием на организм человека. Соланин является нейротоксином и может вызывать отравление при употреблении.</p>
    
        <h3>Опасность употребления</h3>
        <p>Употребление плодов бирючины обыкновенной может представлять серьезную опасность для здоровья. Симптомы отравления могут включать в себя тошноту, рвоту, боли в животе и другие негативные эффекты.</p>
    
        <h3>Осторожное обращение</h3>
        <p>Рекомендуется избегать сбора и употребления плодов бирючины обыкновенной, чтобы предотвратить возможные отравления. В случае случайного контакта с соком растения, необходимо промыть кожу тщательно водой и обратиться за медицинской помощью.</p>
    
        <h3>Экологическая роль</h3>
        <p>Бирючина обыкновенная может играть роль в экосистеме, обеспечивая пищу для некоторых видов животных, но ее высокая токсичность делает ее важным объектом вопросов безопасности.</p>
    
    </div>

    <h2>{{ predicted_class }}</h2>
    <div class="image-examples">
        <img src="{{ url_for('static', filename='example_images/biryuchina/1.jpg') }}" alt="Example 1">
        <img src="{{ url_for('static', filename='example_images/biryuchina/2.jpg') }}" alt="Example 2">
        <img src="{{ url_for('static', filename='example_images/biryuchina/3.jpg') }}" alt="Example 3">
        <img src="{{ url_for('static', filename='example_images/biryuchina/4.jpg') }}" alt="Example 4">
        <img src="{{ url_for('static', filename='example_images/biryuchina/5.png') }}" alt="Example 5">
        <img src="{{ url_for('static', filename='example_images/biryuchina/6.png') }}" alt="Example 6">
    </div>
{% endblock %}
