{% extends 'base.html' %}

{% block title %}{{ predicted_class }}{% endblock %}

{% block content %}
    <h1>{{ predicted_class }}</h1>
    <div class="plant-description">

        <h3>Экология и место обитания</h3>
        <p>Брусника обыкновенная предпочитает субальпийские и альпийские луга, высокогорные леса и сосновые боры. Она часто растет на торфяниках и вдоль водоемов.</p>
    
        <h3>Цветы и ягоды</h3>
        <p>Белые или розоватые цветы брусники расцветают в мае и июне, принося красивое цветение в северные леса. Ягоды, появляющиеся в августе-сентябре, являются красными, кисло-сладкими и богаты витаминами.</p>
    
        <h3>Лекарственные свойства</h3>
        <p>Брусника обладает лекарственными свойствами благодаря содержанию антоцианов, флавоноидов и витаминов. Отвар из ягод используется в народной медицине для укрепления иммунитета, снижения воспалений и поддержания здоровья мочевыводящих путей.</p>
    
        <h3>Кулинарное применение</h3>
        <p>Ягоды брусники широко используются в кулинарии. Из них готовят варенье, компоты, добавляют в выпечку и смузи. В свежем виде они являются отличным источником витаминов и антиоксидантов.</p>
    
        <h3>Легенды и обряды</h3>
        <p>Во многих культурах брусника ассоциируется с символикой здоровья и защиты. В некоторых местах ей приписывают магические свойства, связанные с обрядами и оберегами.</p>
    
    </div>

    <h2>{{ predicted_class }}</h2>
    <div class="image-examples">
        <img src="{{ url_for('static', filename='example_images/brusnika/1.jpg') }}" alt="Example 1">
        <img src="{{ url_for('static', filename='example_images/brusnika/2.jpg') }}" alt="Example 2">
        <img src="{{ url_for('static', filename='example_images/brusnika/3.jpg') }}" alt="Example 3">
        <img src="{{ url_for('static', filename='example_images/brusnika/4.jpg') }}" alt="Example 4">
        <img src="{{ url_for('static', filename='example_images/brusnika/5.jpg') }}" alt="Example 5">
        <img src="{{ url_for('static', filename='example_images/brusnika/6.jpg') }}" alt="Example 6">
    </div>
{% endblock %}
