{% extends 'base.html' %}

{% block title %}{{ predicted_class }}{% endblock %}

{% block content %}
    <h1>{{ predicted_class }}</h1>
    <div class="plant-description">

        <h3>Распределение и характеристики</h3>
        <p>Черемуха - древесное растение, широко распространенное по всей территории России. Это высокое дерево, достигающее высоты до 10 м. У него продолговато-эллиптические листья и белые душистые цветы, из которых затем формируются черные плоды.</p>
    
        <h3>Состав и медицинское применение</h3>
        <p>Ягоды черемухи богаты красящими, пектиновыми и дубильными веществами, органическими кислотами и сахарами. Это растение обладает антибактериальным и вяжущим эффектом. Отвар из коры дерева применяется в качестве мочегонного средства и при лечении сердечных и почечных заболеваний.</p>
    
        <h3>Применение в народной медицине</h3>
        <p>Черемуха часто используется в народной медицине. Отвар из коры применяется как мочегонное средство, а также при лечении простуд и воспалительных процессов.</p>
    
        <h3>Ландшафтное использование</h3>
        <p>Это дерево также часто используется для украшения городских парков и садов благодаря своей декоративности, ароматным цветам и плодам.</p>
    
        <h3>Кулинарные возможности</h3>
        <p>Хотя ягоды черемухи имеют горьковатый вкус, они могут использоваться для приготовления варенья, компотов, сиропов и даже добавляться в некоторые десерты и напитки, чтобы придать им особый аромат и вкусовые нотки.</p>
    
    </div>

    <h2>{{ predicted_class }}</h2>
    <div class="image-examples">
        <img src="{{ url_for('static', filename='example_images/cheremuha/1.jpg') }}" alt="Example 1">
        <img src="{{ url_for('static', filename='example_images/cheremuha/2.jpg') }}" alt="Example 2">
        <img src="{{ url_for('static', filename='example_images/cheremuha/3.jpg') }}" alt="Example 3">
        <img src="{{ url_for('static', filename='example_images/cheremuha/4.jpg') }}" alt="Example 4">
        <img src="{{ url_for('static', filename='example_images/cheremuha/5.jpeg') }}" alt="Example 5">
        <img src="{{ url_for('static', filename='example_images/cheremuha/6.jpg') }}" alt="Example 6">
    </div>
{% endblock %}
