{% extends 'base.html' %}

{% block title %}{{ predicted_class }}{% endblock %}

{% block content %}
    <h1>{{ predicted_class }}</h1>
    <div class="plant-description">
    
        <h3>Распределение и альтернативные названия</h3>
        <p>Ежевика, также известная как дубровка, дереза, жевина или куманиха, произрастает в средней и южной частях России, а также на Кавказе.</p>
    
        <h3>Описание растения</h3>
        <p>Ежевика представляет собой колючий кустарник, достигающий высоты до 3 метров. У нее деревянистые стебли и зеленые листья. Цветки, собранные в кисти, могут быть белыми или розовыми.</p>
    
        <h3>Ягоды и их сбор</h3>
        <p>Ягоды ежевики черные, блестящие, схожи с плодами малины, но обладают более кислым и терпким вкусом. Созревают в августе и сентябре. Сбор ягод производится в это время, когда они наиболее спелые и полные питательными веществами.</p>
    
        <h3>Состав и полезные свойства</h3>
        <p>Ежевика богата витаминами E, K и C. Она содержит много магния, калия и марганца. Употребление ягод помогает нормализовать обмен веществ, укреплять иммунитет и поддерживать здоровье кожи.</p>
    
        <h3>Медицинское применение</h3>
        <p>Ягоды ежевики применяются в медицине благодаря своим антиоксидантным свойствам. Они способствуют профилактике раковых заболеваний и помогают снизить риск различных мутаций.</p>
    
        <h3>Кулинарное использование</h3>
        <p>Ягоды ежевики широко используются в кулинарии для приготовления варенья, компотов, сиропов и добавления в десерты и напитки. Их кисло-сладкий вкус придает особый шарм различным блюдам.</p>
    
    </div>

    <h2>{{ predicted_class }}</h2>
    <div class="image-examples">
        <img src="{{ url_for('static', filename='example_images/ezevika/1.jpeg') }}" alt="Example 1">
        <img src="{{ url_for('static', filename='example_images/ezevika/2.jpg') }}" alt="Example 2">
        <img src="{{ url_for('static', filename='example_images/ezevika/3.jpg') }}" alt="Example 3">
        <img src="{{ url_for('static', filename='example_images/ezevika/4.jpg') }}" alt="Example 4">
        <img src="{{ url_for('static', filename='example_images/ezevika/5.jpg') }}" alt="Example 5">
        <img src="{{ url_for('static', filename='example_images/ezevika/6.jpg') }}" alt="Example 6">
    </div>
{% endblock %}
