{% extends 'base.html' %}

{% block title %}{{ predicted_class }}{% endblock %}

{% block content %}
    <h1>{{ predicted_class }}</h1>
    <div class="plant-description">

        <h3>Распространение в России</h3>
        <p>Калина (Viburnum) встречается по всей территории страны, включая леса, луга и приречные зоны.</p>

        <h3>Внешний вид растения</h3>
        <p>Кустарник калины имеет простые, противоположные листья и красивые белые цветы, собранные в соцветия. Плоды калины представляют собой красные или черные ягоды, обладающие сладким или кисло-сладким вкусом.</p>

        <h3>Использование</h3>
        <p>Ягоды калины широко используются в кулинарии для приготовления варенья, сиропов, компотов и настоек. Кроме того, они обладают ценными лечебными свойствами.</p>

        <h3>Лечебные свойства</h3>
        <p>Калина известна своими противовоспалительными и кровоостанавливающими свойствами. Настойки на основе ягод применяются при простудах, а также для укрепления сердечно-сосудистой системы.</p>

        <h3>Остерегайтесь!</h3>
        <p>Несмотря на множество полезных свойств, следует быть осторожным при употреблении ягод калины. Некоторые люди могут проявлять аллергическую реакцию. Перед использованием в лечебных целях рекомендуется проконсультироваться с врачом, особенно при наличии медицинских проблем или приеме других медикаментов.</p>

    </div>

    <h2>{{ predicted_class }}</h2>
    <div class="image-examples">
        <img src="{{ url_for('static', filename='example_images/kalina/1.webp') }}" alt="Example 1">
        <img src="{{ url_for('static', filename='example_images/kalina/2.jpg') }}" alt="Example 2">
        <img src="{{ url_for('static', filename='example_images/kalina/3.jpg') }}" alt="Example 3">
        <img src="{{ url_for('static', filename='example_images/kalina/4.jpg') }}" alt="Example 4">
        <img src="{{ url_for('static', filename='example_images/kalina/5.jpg') }}" alt="Example 5">
        <img src="{{ url_for('static', filename='example_images/kalina/6.png') }}" alt="Example 6">
    </div>
{% endblock %}
