{% extends 'base.html' %}

{% block title %}{{ predicted_class }}{% endblock %}

{% block content %}
    <h1>{{ predicted_class }}</h1>
    <div class="plant-description">

        <h3>Распространение в России</h3>
        <p>Костяника, также известная как каменика или малина каменная, произрастает на территории Европейской России, на Кавказе и в Сибири. Она предпочитает лесистые местности и области с влажным климатом.</p>

        <h3>Внешний вид растения и плодов</h3>
        <p>Костяника представляет собой многолетнее травянистое растение с прямыми стеблями, усаженными тонкими шипами. Листья состоят из пяти-семи листочков. Белые цветки, расположенные на вершине стебля, привлекают насекомых-опылителей. Из цветов образуются красные или красно-оранжевые плоды с косточкой, иногда объединяющиеся в небольшие костянки.</p>

        <h3>Созревание и сбор</h3>
        <p>Плоды костяники созревают в июле или августе, иногда встречаются и в сентябре. Они обладают приятным сладковатым вкусом. Плоды можно использовать в свежем виде, а также консервировать или сушить для последующего использования.</p>

        <h3>Применение в народной медицине</h3>
        <p>В народной медицине костяника используется благодаря своим полезным свойствам. Она содержит витамины, минералы и антиоксиданты, что делает ее ценным сырьем для приготовления настоек, отваров и мазей, которые применяют для укрепления иммунитета, снятия воспалений и поддержания общего здоровья.</p>

    </div>

    <h2>{{ predicted_class }}</h2>
    <div class="image-examples">
        <img src="{{ url_for('static', filename='example_images/kostyanika/1.jpg') }}" alt="Example 1">
        <img src="{{ url_for('static', filename='example_images/kostyanika/2.jpg') }}" alt="Example 2">
        <img src="{{ url_for('static', filename='example_images/kostyanika/3.jpg') }}" alt="Example 3">
        <img src="{{ url_for('static', filename='example_images/kostyanika/4.jpg') }}" alt="Example 4">
        <img src="{{ url_for('static', filename='example_images/kostyanika/5.jpeg') }}" alt="Example 5">
        <img src="{{ url_for('static', filename='example_images/kostyanika/6.jpg') }}" alt="Example 6">
    </div>
{% endblock %}
