{% extends 'base.html' %}

{% block title %}{{ predicted_class }}{% endblock %}

{% block content %}
    <h1>{{ predicted_class }}</h1>
    <div class="plant-description">

        <h3>Распространение в России</h3>
        <p>Крыжовник, также известный как красная смородина, широко распространен в различных регионах России, предпочитая влажные и солнечные места. Встречается в лесах, лугах, а также на полянах и дачных участках.</p>

        <h3>Внешний вид растения и ягод</h3>
        <p>Крыжовник представляет собой многолетний многоствольный кустарник, который вырастает до 1,5 м в высоту и до 2 м в диаметре. Листья зубчатые, цветки невзрачные, собранные в соцветия.</p>

        <h3>Состав и полезные свойства</h3>
        <p>Ягоды крыжовника богаты витаминами C, P, A и группы B, содержат множество минеральных веществ, микроэлементов (кальций, железо, магний), органических кислот, дубильных веществ и флавоноидов. Этот состав придает крыжовнику ценные лечебные свойства, включая антоксидантные и противовоспалительные.</p>

        <h3>Применение в медицине</h3>
        <p>Крыжовник активно используется для профилактики и лечения гипертонии, атеросклероза, опухолей и повышенного холестерина. Он способствует укреплению сосудов, поддерживает иммунитет и улучшает общее состояние организма. Кроме того, крыжовник может быть полезен при заболеваниях мочевыводящих путей и заболеваниях желудочно-кишечного тракта.</p>

        <h3>Кулинарное применение</h3>
        <p>Ягоды крыжовника широко используются в кулинарии для приготовления варенья, сока, компотов, джемов и выпечки. Их кисло-сладкий вкус делает их популярным ингредиентом для приготовления разнообразных десертов и напитков.</p>

    </div>

    <h2>{{ predicted_class }}</h2>
    <div class="image-examples">
        <img src="{{ url_for('static', filename='example_images/krizovnik/1.jpeg') }}" alt="Example 1">
        <img src="{{ url_for('static', filename='example_images/krizovnik/2.png') }}" alt="Example 2">
        <img src="{{ url_for('static', filename='example_images/krizovnik/3.jpg') }}" alt="Example 3">
        <img src="{{ url_for('static', filename='example_images/krizovnik/4.jpg') }}" alt="Example 4">
        <img src="{{ url_for('static', filename='example_images/krizovnik/5.jpg') }}" alt="Example 5">
        <img src="{{ url_for('static', filename='example_images/krizovnik/6.png') }}" alt="Example 6">
    </div>
{% endblock %}
