{% extends 'base.html' %}

{% block title %}{{ predicted_class }}{% endblock %}

{% block content %}
    <h1>{{ predicted_class }}</h1>
    <div class="plant-description">

        <h3>Распространение в России</h3>
        <p>Купена душистая, известная также как кокорник, соломонова печать или волчьи ягоды, распространена в различных регионах России. Это многолетнее травянистое растение, вырастающее до 50 см в высоту.</p>

        <h3>Внешний вид растения и ягод</h3>
        <p>Купена душистая характеризуется прямостоячим стеблем и эллиптическими листьями. Из белых ароматных цветов, появляющихся с мая по июнь, формируются сине-черные ягоды диаметром до 12 мм. Ягоды собирают в густые соцветия, что придает растению декоративный вид.</p>

        <h3>Биологические свойства</h3>
        <p>Растение содержит алкалоиды, эфирные масла и танины. Однако, несмотря на потенциальные ядовитые свойства, купена душистая также используется в народной медицине. Отвар из корня может применяться при невралгии, головной боли и болях в суставах. Однако, не рекомендуется использовать его без консультации с врачом из-за ядовитости растения.</p>

        <h3>Остерегайтесь!</h3>
        <p>Не подвергайтесь риску употребления ягод купены душистой, так как они обладают высокой степенью ядовитости. В случае сомнений или возможного контакта с растением рекомендуется обратиться за медицинской помощью.</p>

    </div>

    <h2>{{ predicted_class }}</h2>
    <div class="image-examples">
        <img src="{{ url_for('static', filename='example_images/kupena/1.jpg') }}" alt="Example 1">
        <img src="{{ url_for('static', filename='example_images/kupena/2.jpg') }}" alt="Example 2">
        <img src="{{ url_for('static', filename='example_images/kupena/3.jpg') }}" alt="Example 3">
        <img src="{{ url_for('static', filename='example_images/kupena/4.jpg') }}" alt="Example 4">
        <img src="{{ url_for('static', filename='example_images/kupena/5.jpg') }}" alt="Example 5">
        <img src="{{ url_for('static', filename='example_images/kupena/6.png') }}" alt="Example 6">
    </div>
{% endblock %}
