{% extends 'base.html' %}

{% block title %}{{ predicted_class }}{% endblock %}

{% block content %}
    <h1>{{ predicted_class }}</h1>
    <div class="plant-description">

        <h3>Описание</h3>
        <p>Ландыш майский (Convallaria majalis) — травянистое растение семейства лилейных, распространенное в лесных зонах умеренного пояса. Компактный куст достигает высоты до 30 см, с тесно расположенными узколинейными листьями и ароматными белыми цветками, раскрывающимися с мая по июнь.</p>

        <h3>Плоды</h3>
        <p>С цветов ландыша формируются оранжево-красные ягоды диаметром до 8 мм, созревающие с июня по июль. Однако несмотря на привлекательный вид, следует отметить, что плоды этого растения являются токсичными и не пригодны для употребления в пищу.</p>

        <h3>Токсичность</h3>
        <p>Все части ландыша майского, включая его плоды, содержат токсичные вещества. Попадание внутрь может вызвать отравление, проявляющееся различными симптомами, включая рвоту, диарею и нарушения сердечного ритма. При случайном отравлении следует срочно обратиться за медицинской помощью.</p>

        <h3>Распространение</h3>
        <p>Ландыш майский встречается в умеренных лесах и зонтичных лесах в северном полушарии, включая Европу, Азию и Северную Америку. Он предпочитает прохладные влажные места и может образовывать густые ковры в подлеске.</p>

        <h3>Остерегайтесь!</h3>
        <p>Помните о высокой токсичности плодов ландыша майского. В случае случайного контакта с растением или употребления его плодов рекомендуется обратиться за медицинской помощью.</p>

    </div>

    <h2>{{ predicted_class }}</h2>
    <div class="image-examples">
        <img src="{{ url_for('static', filename='example_images/landish/1.jpg') }}" alt="Example 1">
        <img src="{{ url_for('static', filename='example_images/landish/2.jpg') }}" alt="Example 2">
        <img src="{{ url_for('static', filename='example_images/landish/3.jpg') }}" alt="Example 3">
        <img src="{{ url_for('static', filename='example_images/landish/4.jpg') }}" alt="Example 4">
        <img src="{{ url_for('static', filename='example_images/landish/5.jpg') }}" alt="Example 5">
        <img src="{{ url_for('static', filename='example_images/landish/6.png') }}" alt="Example 6">
    </div>
{% endblock %}
