{% extends 'base.html' %}

{% block title %}{{ predicted_class }}{% endblock %}

{% block content %}
    <h1>{{ predicted_class }}</h1>
    <div class="plant-description">

        <h3>Описание</h3>
        <p>Магония падуболистная (Mahonia aquifolium) — вечнозеленый кустарник, произрастающий в западных регионах Северной Америки и также в Европе. Характеризуется продолговатыми листьями, блестящей листвой и сине-черными ягодами.</p>

        <h3>Характеристики растения</h3>
        <p>Магония обыкновенная достигает высоты от 1 до 3 метров. Ее листья крупные, жесткие, с острыми шипами по краям. Цветет в апреле-мае желтоватыми соцветиями, а плоды созревают в июне-июле, представляя собой темно-синие ягоды.</p>

        <h3>Медицинские свойства</h3>
        <p>Магония широко применяется в народной медицине. Она используется для лечения желудочно-кишечных расстройств, артрита, подагры и других воспалительных состояний. Также магония имеет антисептические свойства и может использоваться при проблемах с кожей.</p>

        <h3>Применение в кулинарии</h3>
        <p>Некоторые сорта магонии подходят для приготовления варенья или джема. Однако перед употреблением в пищу необходимо удостовериться в безопасности съедобных частей растения.</p>

        <h3>Остерегайтесь!</h3>
        <p>Несмотря на медицинские свойства, перед использованием магонии в лечебных целях следует проконсультироваться с врачом, так как неправильное применение может привести к нежелательным последствиям.</p>

    </div>

    <h2>{{ predicted_class }}</h2>
    <div class="image-examples">
        <img src="{{ url_for('static', filename='example_images/magonia/1.jpg') }}" alt="Example 1">
        <img src="{{ url_for('static', filename='example_images/magonia/2.jpg') }}" alt="Example 2">
        <img src="{{ url_for('static', filename='example_images/magonia/3.jpg') }}" alt="Example 3">
        <img src="{{ url_for('static', filename='example_images/magonia/4.jpeg') }}" alt="Example 4">
        <img src="{{ url_for('static', filename='example_images/magonia/5.jpg') }}" alt="Example 5">
        <img src="{{ url_for('static', filename='example_images/magonia/6.jpg') }}" alt="Example 6">
    </div>
{% endblock %}
