{% extends 'base.html' %}

{% block title %}{{ predicted_class }}{% endblock %}

{% block content %}
    <h1>{{ predicted_class }}</h1>
    <div class="plant-description">

        <h3>Распространение и характеристики</h3>
        <p>Малина лесная (Rubus idaeus) — это многолетний колючий кустарник, который широко распространен в лесах и вырубках. Вертикальные стебли могут достигать высоты до 2,5 метра. Плоды малины созревают обычно в начале августа, имеют интенсивный красный цвет и сладкий вкус с легкой кислинкой. В зависимости от количества солнечного света, которое получает куст, вкус ягод может варьироваться.</p>

        <h3>Целебные свойства</h3>
        <p>Малина известна своими полезными свойствами. Она содержит витамины С, А, Е, антиоксиданты и фолиевую кислоту. Ягоды малины также богаты диетическими волокнами и минералами, такими как магний и калий. Эти компоненты могут поддерживать иммунитет, улучшать пищеварение и способствовать общему оздоровлению организма.</p>

        <h3>Применение в кулинарии</h3>
        <p>Малина часто используется в кулинарии для приготовления варенья, джема, сиропов, компотов и других сладких блюд. Также ее добавляют в смузи, йогурты и выпечку для улучшения вкуса и добавления питательных веществ.</p>

        <h3>Сбор и хранение</h3>
        <p>Сбор ягод лучше всего проводить в сухую погоду, избегая мест с интенсивным использованием химических удобрений. Храните собранные ягоды в холодильнике в контейнерах с хорошей вентиляцией, чтобы предотвратить загнивание.</p>

    </div>

    <h2>{{ predicted_class }}</h2>
    <div class="image-examples">
        <img src="{{ url_for('static', filename='example_images/malina/1.jpg') }}" alt="Example 1">
        <img src="{{ url_for('static', filename='example_images/malina/2.jpg') }}" alt="Example 2">
        <img src="{{ url_for('static', filename='example_images/malina/3.jpg') }}" alt="Example 3">
        <img src="{{ url_for('static', filename='example_images/malina/4.jpg') }}" alt="Example 4">
        <img src="{{ url_for('static', filename='example_images/malina/5.jpg') }}" alt="Example 5">
        <img src="{{ url_for('static', filename='example_images/malina/6.jpg') }}" alt="Example 6">
    </div>
{% endblock %}
