{% extends 'base.html' %}

{% block title %}{{ predicted_class }}{% endblock %}

{% block content %}
    <h1>{{ predicted_class }}</h1>
    <div class="plant-description">

        <h3>Распространение в России</h3>
        <p>Морошка встречается в Средней и Юго-Западной России, а также в Сибири, предпочитая различные типы почв.</p>

        <h3>Внешний вид растения и ягод</h3>
        <p>Морошка — многолетнее травянистое растение с прямостоячими стеблями, пятилопастными листьями и белыми цветками. Ягода представляет собой сложную костянку, созревающую в мае-июне и приобретающую красно-оранжевый цвет.</p>

        <h3>Вкус и запах</h3>
        <p>Морошка обладает сладким вкусом и приятным ароматом, что делает ее популярной в пищевой промышленности.</p>

        <h3>Применение</h3>
        <p>Морошка используется в кулинарии, а также в традиционной медицине для профилактики и лечения различных заболеваний.</p>

        <h3>Полезные свойства</h3>
        <p>Ягода богата кальцием, магнием, калием, железом, витаминами C, B1, B3, PP и A. Ей приписывают полезные свойства в профилактике онкологических и сердечно-сосудистых заболеваний, а также в лечении почечнокаменной болезни, авитаминоза, нарушений обмена веществ и малярии.</p>

        <h3>Опасные свойства</h3>
        <p>Несмотря на полезные свойства, неконтролируемое употребление любых ягод может привести к нежелательным реакциям, поэтому рекомендуется соблюдать меры предосторожности.</p>

    </div>

    <h2>{{ predicted_class }}</h2>
    <div class="image-examples">
        <img src="{{ url_for('static', filename='example_images/moroshka/1.jpg') }}" alt="Example 1">
        <img src="{{ url_for('static', filename='example_images/moroshka/2.png') }}" alt="Example 2">
        <img src="{{ url_for('static', filename='example_images/moroshka/3.jpg') }}" alt="Example 3">
        <img src="{{ url_for('static', filename='example_images/moroshka/4.jpg') }}" alt="Example 4">
        <img src="{{ url_for('static', filename='example_images/moroshka/5.jpg') }}" alt="Example 5">
        <img src="{{ url_for('static', filename='example_images/moroshka/6.png') }}" alt="Example 6">
    </div>
{% endblock %}
