{% extends 'base.html' %}

{% block title %}{{ predicted_class }}{% endblock %}

{% block content %}
    <h1>{{ predicted_class }}</h1>
    <div class="plant-description">

        <h3>Распространение в России</h3>
        <p>Облепиха произрастает в Северной и Средней Европе, а также в различных регионах Сибири, Забайкалья и на Кавказе.</p>

        <h3>Внешний вид растения и ягод</h3>
        <p>Облепиха — кустарник, достигающий 6 м в высоту, с колючками на ветвях, узкими и длинными листьями, а весной он украшается невзрачными цветками. Оранжевые ягоды куста мясистые, размером с горошину.</p>

        <h3>Вкус и запах</h3>
        <p>Ягоды облепихи обладают кисло-сладким вкусом и характерным ароматом.</p>

        <h3>Применение</h3>
        <p>Облепиха широко используется в пищевой промышленности для производства соков, масел, десертов и других продуктов. Также ее ценят в традиционной медицине.</p>

        <h3>Полезные свойства</h3>
        <p>Ягоды облепихи богаты калием, магнием, железом, натрием и фосфором. В них содержится огромное количество витаминов C, B6, E, P и бета-каротина. Облепиха обладает антиоксидантными, противовоспалительными, противоопухолевыми, антистрессовыми и антибактериальными свойствами.</p>

        <h3>Опасные свойства</h3>
        <p>Несмотря на полезные свойства, рекомендуется употреблять облепиху с осторожностью, особенно при наличии индивидуальных реакций и медицинских противопоказаний.</p>

    </div>

    <h2>{{ predicted_class }}</h2>
    <div class="image-examples">
        <img src="{{ url_for('static', filename='example_images/oblepiha/1.webp') }}" alt="Example 1">
        <img src="{{ url_for('static', filename='example_images/oblepiha/2.png') }}" alt="Example 2">
        <img src="{{ url_for('static', filename='example_images/oblepiha/3.jpg') }}" alt="Example 3">
        <img src="{{ url_for('static', filename='example_images/oblepiha/4.png') }}" alt="Example 4">
        <img src="{{ url_for('static', filename='example_images/oblepiha/5.jpg') }}" alt="Example 5">
        <img src="{{ url_for('static', filename='example_images/oblepiha/6.jfif') }}" alt="Example 6">
    </div>
{% endblock %}
