{% extends 'base.html' %}

{% block title %}{{ predicted_class }}{% endblock %}

{% block content %}
    <h1>{{ predicted_class }}</h1>
    <div class="plant-description">

        <h3>Места обитания и почвенные условия</h3>
        <p>Снежноягодник белый (Symphoricarpos albus) — растение, характерное для каменистых и известковых почв. Оно предпочитает места с полутенью, где может эффективно развиваться.</p>

        <h3>Внешний вид и характеристики</h3>
        <p>Этот кустарник имеет мелкие белые цветы и образует красивые, но ядовитые ягоды. Ягоды снежноягодника белого имеют крупный размер и белоснежный оттенок, что придает растению особый вид.</p>

        <h3>Токсичность и предостережения</h3>
        <p>Важно отметить, что ягоды снежноягодника белого содержат токсичные вещества. Их употребление может быть опасным для человека, вызывая негативные последствия. Рекомендуется избегать контакта с этими ягодами и предостерегать детей от их случайного употребления.</p>

        <h3>Окружающая среда</h3>
        <p>Растение способствует укреплению почвы благодаря своей корневой системе. Встречается в природе на каменистых участках и оказывает влияние на экосистему в своем естественном месте обитания.</p>

        <h3>Остерегайтесь!</h3>
        <p>В целях безопасности не следует использовать ягоды снежноягодника белого в пищевых целях. При появлении сомнений или необходимости в информации о возможных воздействиях на здоровье, рекомендуется проконсультироваться с квалифицированным врачом.</p>

    </div>

    <h2>{{ predicted_class }}</h2>
    <div class="image-examples">
        <img src="{{ url_for('static', filename='example_images/snegno/1.jpg') }}" alt="Example 1">
        <img src="{{ url_for('static', filename='example_images/snegno/2.jpg') }}" alt="Example 2">
        <img src="{{ url_for('static', filename='example_images/snegno/3.jpg') }}" alt="Example 3">
        <img src="{{ url_for('static', filename='example_images/snegno/4.jfif') }}" alt="Example 4">
        <img src="{{ url_for('static', filename='example_images/snegno/5.jfif') }}" alt="Example 5">
        <img src="{{ url_for('static', filename='example_images/snegno/6.jpg') }}" alt="Example 6">
    </div>
{% endblock %}
