{% extends 'base.html' %}

{% block title %}{{ predicted_class }}{% endblock %}

{% block content %}
    <h1>{{ predicted_class }}</h1>
    <div class="plant-description">

        <h3>Названия и характеристики</h3>
        <p>Тис ягодный, также известный как зеленица, негной или красное дерево, является декоративным деревом с характерной красновато-коричневой корой и побегами. Весной растение радует зелеными цветами, а к осени на нем появляются ягоды, которые могут быть розовыми или желтыми.</p>

        <h3>Токсичность и использование</h3>
        <p>Важно отметить, что все части тиса ягодного, кроме присемянников, содержат ядовитые вещества. Это делает растение опасным для человека, и его части следует избегать в пищевых или медицинских целях. В случае взаимодействия с растением рекомендуется соблюдать осторожность и избегать контакта.</p>

        <h3>Эстетическое значение</h3>
        <p>Несмотря на токсичность, тис ягодный широко используется в ландшафтном дизайне благодаря своей красоте. Привлекательные цветы и необычные ягоды делают его популярным элементом в оформлении садов, парков и других приусадебных территорий.</p>

        <h3>Остерегайтесь!</h3>
        <p>Помните об опасности взаимодействия с тисом ягодным. Избегайте случайного потребления ягод или других частей растения, особенно в присутствии детей и животных. При симптомах отравления немедленно обратитесь за медицинской помощью.</p>

        <h3>Использование в декоративном садоводстве</h3>
        <p>Тис ягодный является ценным элементом ландшафтного дизайна. Его использование популярно для создания формальных садов, аллей и оформления живых изгородей. Разнообразие форм и оттенков делает его привлекательным выбором для озеленения различных участков.</p>

    </div>

    <h2>{{ predicted_class }}</h2>
    <div class="image-examples">
        <img src="{{ url_for('static', filename='example_images/tis/1.jpg') }}" alt="Example 1">
        <img src="{{ url_for('static', filename='example_images/tis/2.png') }}" alt="Example 2">
        <img src="{{ url_for('static', filename='example_images/tis/3.jpg') }}" alt="Example 3">
        <img src="{{ url_for('static', filename='example_images/tis/4.jpg') }}" alt="Example 4">
        <img src="{{ url_for('static', filename='example_images/tis/5.jpg') }}" alt="Example 5">
        <img src="{{ url_for('static', filename='example_images/tis/6.jpg') }}" alt="Example 6">
    </div>
{% endblock %}
