{% extends 'base.html' %}

{% block title %}{{ predicted_class }}{% endblock %}

{% block content %}
    <h1>{{ predicted_class }}</h1>
    <div class="plant-description">

        <h3>Девичий виноград пятилисточковый</h3>
        <p>Девичий виноград пятилисточковый — крупная лиана, обладающая побегами длиной до 3-4 метров и характерными плотно усаженными 5-лопастными листочками. Это растение представляет собой привлекательное декоративное решение для садов и ландшафтных дизайнов.</p>

        <h3>Цветение и плоды</h3>
        <p>В начале июля девичий виноград пятилисточковый поражает белоснежными цветами, собранными в зонтики по 3-5 штук. Затем из этих цветов формируются виноградные грозди, которые при созревании приобретают сине-черный цвет. Этот процесс создает визуальное восхищение и придает растению особый шарм.</p>

        <h3>Использование в ландшафтном дизайне</h3>
        <p>Девичий виноград пятилисточковый широко используется для создания живых изгородей, вертикального озеленения или декоративных элементов сада. Его красивые листья и яркое цветение делают его привлекательным элементом оформления садовых территорий.</p>

        <h3>Уход и поддержание</h3>
        <p>Это растение, как правило, требует солнечного местоположения и плодородной почвы. Регулярный полив и поддержание подходящих условий роста способствуют здоровому развитию девичьего винограда. Тем не менее, для более подробной информации по уходу, рекомендуется консультироваться с садоводческими специалистами.</p>

        <h3>Остерегайтесь!</h3>
        <p>Важно помнить, что некоторые виды винограда могут быть ядовитыми, поэтому при работе с ними необходимо соблюдать осторожность. В случае употребления ягод рекомендуется проконсультироваться с профессиональными специалистами.</p>

    </div>

    <h2>{{ predicted_class }}</h2>
    <div class="image-examples">
        <img src="{{ url_for('static', filename='example_images/vinograd_dev/1.jpg') }}" alt="Example 1">
        <img src="{{ url_for('static', filename='example_images/vinograd_dev/2.jpg') }}" alt="Example 2">
        <img src="{{ url_for('static', filename='example_images/vinograd_dev/3.jpg') }}" alt="Example 3">
        <img src="{{ url_for('static', filename='example_images/vinograd_dev/4.jpg') }}" alt="Example 4">
        <img src="{{ url_for('static', filename='example_images/vinograd_dev/5.jpg') }}" alt="Example 5">
        <img src="{{ url_for('static', filename='example_images/vinograd_dev/6.jpg') }}" alt="Example 6">
    </div>
{% endblock %}
