{% extends 'base.html' %}

{% block title %}{{ predicted_class }}{% endblock %}

{% block content %}
    <h1>{{ predicted_class }}</h1>
    <div class="plant-description">

        <h3>Вишня лесная</h3>
        <p>Вишня лесная — плодовое растение, относящееся к роду слив и семейству розовых. Эта ягода отличается высоким содержанием антиоксидантов и органических кислот, приносящих пользу организму и способствующих процессам регенерации.</p>

        <h3>Питательные вещества</h3>
        <p>Вишня богата витаминами A, C, E, PP и группы B. Она также содержит незаменимую аминокислоту триптофан, фолиевую кислоту, пектиновые вещества и обильное количество антиоксидантов. Плоды вишни являются источником калия, фосфора, кальция, магния и железа.</p>

        <h3>Здоровье и Применение</h3>
        <p>Употребление вишни в пищу положительно сказывается на здоровье, поддерживая иммунную систему и общий тонус организма. Антиоксиданты помогают бороться с свободными радикалами, предотвращая преждевременное старение клеток.</p>

        <h3>Особенности в использовании</h3>
        <p>Вишню лесную можно употреблять в свежем виде, добавлять в салаты, десерты, а также использовать для приготовления варенья, соков, компотов и других кулинарных блюд. Ее вкус и аромат делают ее популярным компонентом в кулинарии.</p>

        <h3>Остерегайтесь!</h3>
        <p>Несмотря на множество полезных свойств, вишню лесную следует употреблять с осторожностью, особенно при наличии каких-либо медицинских противопоказаний. Рекомендуется проконсультироваться с врачом перед включением вишни в рацион питания.</p>

    </div>

    <h2>{{ predicted_class }}</h2>
    <div class="image-examples">
        <img src="{{ url_for('static', filename='example_images/vishnya/1.webp') }}" alt="Example 1">
        <img src="{{ url_for('static', filename='example_images/vishnya/2.jpg') }}" alt="Example 2">
        <img src="{{ url_for('static', filename='example_images/vishnya/3.jpg') }}" alt="Example 3">
        <img src="{{ url_for('static', filename='example_images/vishnya/4.jpg') }}" alt="Example 4">
        <img src="{{ url_for('static', filename='example_images/vishnya/5.webp') }}" alt="Example 5">
        <img src="{{ url_for('static', filename='example_images/vishnya/6.jpg') }}" alt="Example 6">
    </div>
{% endblock %}
