{% extends 'base.html' %}

{% block title %}{{ predicted_class }}{% endblock %}

{% block content %}
    <h1>{{ predicted_class }}</h1>
    <div class="plant-description">

        <h3>Биологические характеристики</h3>
        <p>Вороний глаз — это кустарник, который чаще всего встречается в лесистых и зарослевых местах. Он предпочитает тенистые области и влажные почвы.</p>

        <h3>Ягоды</h3>
        <p>Ягоды вороньего глаза имеют характерный темно-фиолетовый или черный цвет и часто красиво блестят на солнце. Однако, несмотря на свою привлекательность, они крайне ядовиты для человека. Контакт с ягодами может вызвать раздражение кожи и слизистых оболочек, а употребление даже небольшого количества может быть опасным.</p>
        
        <h3>Экологическая роль</h3>
        <p>Хотя вороний глаз ядовит и не предназначен для употребления человеком, он может играть свою роль в экосистеме, обеспечивая укрытие и пищу для некоторых видов диких животных, которые могут выработать иммунитет к его токсинам.</p>

        <h3>Мифы и легенды</h3>
        <p>В некоторых фольклорных историях вороний глаз ассоциируется с мистическими и темными силами. Его ягоды часто используются в мифах как ингредиент для создания ядов и зелий темных волшебников.</p>

        <h3>Искусство и литература</h3>
        <p>Вороний глаз иногда воплощается в искусстве и литературе как символ опасности, загадочности или магии. Его изображения могут встречаться в произведениях, созданных в жанре фэнтези или ужасов.</p>

    </div>

    <h2>{{ predicted_class }}</h2>
    <div class="image-examples">
        <img src="{{ url_for('static', filename='example_images/voroniy_glaz/1.webp') }}" alt="Example 1">
        <img src="{{ url_for('static', filename='example_images/voroniy_glaz/2.jpg') }}" alt="Example 2">
        <img src="{{ url_for('static', filename='example_images/voroniy_glaz/3.jpg') }}" alt="Example 3">
        <img src="{{ url_for('static', filename='example_images/voroniy_glaz/4.jpg') }}" alt="Example 4">
        <img src="{{ url_for('static', filename='example_images/voroniy_glaz/5.webp') }}" alt="Example 5">
        <img src="{{ url_for('static', filename='example_images/voroniy_glaz/6.png') }}" alt="Example 6">
    </div>
{% endblock %}
