{% extends 'base.html' %}

{% block title %}{{ predicted_class }}{% endblock %}

{% block content %}
    <h1>{{ predicted_class }}</h1>
    <div class="plant-description">

        <h3>Воронец красноплодный</h3>
        <p>Воронец красноплодный представляет собой травянистое растение с характерными кистями, на которых располагаются крупные ягоды овальной формы. Они могут иметь ярко-красный или черный цвет и обычно выделяются в окружающей среде.</p>

        <h3>Последствия употребления</h3>
        <p>Употребление ягод воронца красноплодного может вызывать серьезные отрицательные реакции в организме человека, включая тошноту, рвоту, галлюцинации и судороги. Эти симптомы могут представлять серьезную угрозу для здоровья и требуют медицинской помощи.</p>

        <h3>Опасность для здоровья</h3>
        <p>Воронец красноплодный содержит вещества, которые могут быть вредными при употреблении, поэтому не рекомендуется использовать данное растение в пищевых целях без должного знания и опыта. Контакт с ягодами следует избегать из-за их потенциальной токсичности.</p>

        <h3>Медицинская помощь</h3>
        <p>В случае употребления ягод воронца красноплодного и появления отрицательных симптомов необходимо как можно скорее обратиться за медицинской помощью для нейтрализации воздействия и проведения соответствующего лечения.</p>

    </div>

    <h2>{{ predicted_class }}</h2>
    <div class="image-examples">
        <img src="{{ url_for('static', filename='example_images/voronec/1.jpg') }}" alt="Example 1">
        <img src="{{ url_for('static', filename='example_images/voronec/2.jpg') }}" alt="Example 2">
        <img src="{{ url_for('static', filename='example_images/voronec/3.jpg') }}" alt="Example 3">
        <img src="{{ url_for('static', filename='example_images/voronec/4.jpg') }}" alt="Example 4">
        <img src="{{ url_for('static', filename='example_images/voronec/5.png') }}" alt="Example 5">
        <img src="{{ url_for('static', filename='example_images/voronec/6.png') }}" alt="Example 6">
    </div>
{% endblock %}
