{% extends 'base.html' %}

{% block title %}{{ predicted_class }}{% endblock %}

{% block content %}
    <h1>{{ predicted_class }}</h1>
    <div class="plant-description">

        <h3>Распространение в России</h3>
        <p>Земляника лесная растет в различных регионах России, включая европейскую часть страны, Западную и Восточную Сибирь, Кавказ и Среднюю Азию. Это невысокий кустарник, высотой до 15 см, с тройчатыми, темно-зелеными листьями. Земляника предпочитает поляны и опушки леса.</p>

        <h3>Внешний вид растения и ягод</h3>
        <p>Цветет земляника с мая по июль, образуя соцветия белого цвета. Плоды земляники — красные ягоды вытянутой формы — созревают с конца июня. Сезон сбора этих диких ягод начинается в этот период.</p>

        <h3>Полезные свойства</h3>
        <p>Земляника лесная богата сахаром, органическими кислотами и клетчаткой. В ее состав входят также соли железа, фосфора, кальция, витаминов группы B, каротин, аскорбиновая и фолиевая кислоты. Употребление свежих ягод может способствовать нормализации пищеварения, а также помочь в устранении воспалительных и язвенных процессов.</p>

        <h3>Применение</h3>
        <p>Земляника лесная также находит применение в народной медицине. Ей приписывают положительное воздействие при болезнях мочеполовой системы, желчнокаменной болезни, диабете и других заболеваниях органов пищеварения.</p>

    </div>

    <h2>{{ predicted_class }}</h2>
    <div class="image-examples">
        <img src="{{ url_for('static', filename='example_images/zemlenika/1.jpeg') }}" alt="Example 1">
        <img src="{{ url_for('static', filename='example_images/zemlenika/2.jpg') }}" alt="Example 2">
        <img src="{{ url_for('static', filename='example_images/zemlenika/3.jpg') }}" alt="Example 3">
        <img src="{{ url_for('static', filename='example_images/zemlenika/4.png') }}" alt="Example 4">
        <img src="{{ url_for('static', filename='example_images/zemlenika/5.png') }}" alt="Example 5">
        <img src="{{ url_for('static', filename='example_images/zemlenika/6.jpg') }}" alt="Example 6">
    </div>
{% endblock %}
